<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Our Website: A hub of captivating blogs covering diverse topics, delivering informative and entertaining content to our readers.</p>
    <p>Wide Range: Explore various niches, from lifestyle to tech, as we cater to a broad spectrum of interests and passions.</p>
    <p>Expertise & Innovation: With SEO prowess and a commitment to staying ahead of trends, we aim to be your go-to source for engaging articles.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>